<template>
	<div class="header">
		<div class="header-content">
			<div class="left">
				<div class="logo-title" @click="$router.navigate('')">
					<img class="logo" src="@/../../logo.png">
					<div class="title">StreamZ</div>
				</div>
			</div>

			<div class="right">
				<div
					v-if="loggedIn"
					class="button stream-button"
					@click="$router.navigate('stream')"
				>
					<div class="button-content">
						<icon class="icon" name="video" />
						<div class="text">Stream</div>
					</div>
				</div>
				<div
					class="button info-button"
					@click="$router.navigate('about')"
				>
					<div class="button-content">
						<icon class="icon" name="info-circle" />
						<div class="text">About</div>
					</div>
				</div>
				<div
					class="button search-button"
					@click="$router.navigate('search')"
				>
					<div class="button-content">
						<icon class="icon" name="search" />
						<div class="text">Search</div>
					</div>
				</div>
				<div class="button login-button" @click="login">
					<div class="button-content">
						<template v-if="loggedIn">
							<icon class="icon" name="sign-out-alt" />
							<div class="text">Logout</div>
						</template>
						<template v-else>
							<icon class="icon" name="sign-in-alt" />
							<div class="text">Login</div>
						</template>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="sass" scoped>
	.header
		width: 100%
		background-color: #FFF
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2)
		z-index: 100

	.header-content
		max-width: 1000px
		margin: 0 auto
		padding: 16px 0

		display: flex
		flex-direction: row

		.left, .right
			flex: 1 1 0

		.left
			.logo-title
				display: inline-block
				cursor: pointer

				.logo
					height: 48px
					vertical-align: middle

				.title
					display: inline-block
					margin-left: 8px
					vertical-align: middle
					font-family: "Baloo", "Verdana", "Arial", sans-serif
					font-size: 32px

		.right
			display: flex
			flex-direction: row
			justify-content: end

			.button
				display: inline-block
				vertical-align: top
				overflow: hidden
				width: 48px
				transition: all 0.3s
				&:hover
					width: 112px

				&.stream-button
					$color: #FF5252
					color: $color
					cursor: pointer
					&:hover
						color: darken($color, 20%)

				&.login-button, &.search-button, &.info-button
					$color: #CCCCCC
					color: $color
					cursor: pointer
					&:hover
						color: darken($color, 30%)

				.button-content
					width: 136px
					overflow: hidden
					display: flex
					flex-direction: row
					align-items: center

					.icon
						width: 32px
						height: 32px
						margin: 8px

					.text
						display: inline-block
</style>

<script language="text/javascript">
	import {zeroPage, zeroAuth} from "@/zero";
	import "vue-awesome/icons/video";
	import "vue-awesome/icons/info-circle";
	import "vue-awesome/icons/search";
	import "vue-awesome/icons/sign-in-alt";
	import "vue-awesome/icons/sign-out-alt";

	export default {
		name: "Header",
		computed: {
			loggedIn() {
				return !!this.$store.state.siteInfo.cert_user_id;
			}
		},
		methods: {
			login() {
				if(this.loggedIn) {
					zeroPage.cmd("certSelect", {
						accepted_domains: [""]
					});
				} else {
					zeroPage.cmd("certSelect", {
						accepted_domains: zeroAuth.acceptedDomains
					});
				}
			}
		}
	};
</script>