<template>
	<div class="root">
		<p>
			<StreamZ /> is a real-time streaming platform for ZeroNet. Brought
			to you with <icon name="heart" /> by <i>Git Center</i>,
			<i>Glightstar</i>, <i>ZeroLSTN</i>, <i>Krixano</i> and
			<i>Thunder33345</i>.
		</p>
		<p>
			<StreamZ /> uses PeerMessage plugin to deliver your video as fast as
			possible. You can download the plugin
			<a href="/kxonet.bit/?/plugin/gitcenter/1536381998652">
				for Python 2<!--
			--></a>
			(you are probably using Python 2 if you are using bundled ZeroNet)
			or
			<a href="/kxonet.bit/?/plugin/gitcenter/1554637508475">
				for Python 3<!--
			--></a>
			(if you are using Python 3 version, you definitely know about it).
			Python 3 version is recommended, because it is a lot faster.
		</p>
		<p>
			Report all the bugs you find to
			<a
				href="/Talk.ZeroNetwork.bit/?Topic:1555759517_1Cy3ntkN2GN9MH6EaW6eHpi4YoRS2nK5Di/StreamZ"
			>ZeroTalk</a>. Don't forget to mention us like this: <b>@gitcenter
			@glightstar @zerolstn @krixano @thunder33345</b>.
		</p>
		<p>
			<StreamZ /> is currently closed-source, and will be released
			open-source in a year. If you want to get the sources right now,
			feel free to <a href="/Mail.ZeroNetwork.bit/?to=gitcenter">
				send a ZeroMail to @gitcenter<!--
			--></a>, we are ready to give you the sources if you prove that you
			don't have malicious intentions.
		</p>
	</div>
</template>

<style lang="sass" scoped>
	.root
		max-width: 1000px
		margin: 0 auto
		padding: 16px 0
</style>

<script type="text/javascript">
	import "vue-awesome/icons/heart";

	export default {
		name: "about"
	};
</script>