html, body
	height: 100%
	margin: 0
	padding: 0
	background-color: #FFF

	font-family: Verdana, Arial, sans-serif
	font-size: 16px
	box-sizing: border-box

*
	font-family: inherit
	font-size: inherit
	box-sizing: inherit


@font-face
	src: url(../fonts/Baloo/Baloo-Regular.ttf)
	font-family: "Baloo"


h1
	font-size: 24px


button
	padding: 16px 24px
	border: none
	border-radius: 4px
	margin: 16px 0
	color: #FFF
	font-size: 16px
	cursor: pointer

	.icon
		width: 24px
		height: 24px
		vertical-align: middle

	transition: all 0.2s

	background-color: #FF5252
	&:hover
		background-color: darken(#FF5252, 10%)

	&.left
		float: left
		margin-right: 16px
		.icon
			margin-right: 12px
	&.right
		float: right
		margin-left: 16px
		.icon
			margin-left: 12px