<template>
	<span class="streamz">
		<img class="logo" src="@/../../logo.png">
		StreamZ
	</span>
</template>

<style lang="sass" scoped>
	.streamz
		font-family: "Baloo", "Verdana", "Arial", sans-serif
	.logo
		height: 1em
		margin-bottom: -0.2em
</style>

<script language="text/javascript">
	export default {
		props: [],
		name: "root"
	};
</script>