<template>
	<div class="root">
		<h1>Search</h1>

		<ExtendedInput v-model="query" placeholder="What are you going to watch today?" @enter="search">
			<icon name="search" />
		</ExtendedInput>

		<div class="no-results" v-if="!results.length">
			<div class="smiley">(v-v)</div><br />
			Nothing here.<br /><br />
			Good luck searching<br />
			for something else.
		</div>

		<div class="result" v-for="result in results">
			<div class="left">
				<div class="thumbnail">
					<img src="@/../../logo.png">
					<div class="cover"></div>

					<!--
						<div class="report" @click="report(result)">
							<icon name="flag" />
							Report
						</div>
					-->
				</div>
			</div>

			<div class="right">
				<div class="title" @click="watch(result)">{{result.title}}</div>
				<div class="description">{{result.description}}</div>
				<div class="author">By <b>{{result.author}}</b></div>
				<div class="info">
					<!--
						Duration (till now): {{result.durationFormatted}}<br />
					-->
					ID: {{result.id}}<br />
					User: {{result.authAddress}}<br />
					Hub: {{result.hub}}
				</div>
			</div>
		</div>
	</div>
</template>

<style lang="sass" scoped>
	.root
		max-width: 1000px
		margin: 0 auto
		padding: 16px 0

	.no-results
		font-family: "Courier New", monospace
		color: #AAAAAA
		text-align: center
		margin: 32px 0

		font-size: 32px
		.smiley
			font-size: 96px

	.result
		display: flex
		flex-direction: row
		margin-top: 32px

		.left
			$width: 256px
			$height: 192px

			flex: 0 0 $width
			width: $width

			.thumbnail
				width: $width
				height: $height
				background-color: rgba(0, 0, 0, 0.8)
				text-align: center
				position: relative

				img
					max-width: 100%
					max-height: 100%

				.cover
					position: absolute
					left: 0
					top: 0
					width: 100%
					height: 100%
					background-color: rgba(0, 0, 0, 0.7)
					opacity: 0
					transition: opacity 0.3s

				.report
					position: absolute
					left: 16px
					bottom: 16px
					color: #FFF
					opacity: 0.2
					cursor: pointer
					transition: opacity 0.3s
					color: #FF5252

				&:hover
					.cover
						opacity: 1
					.report
						opacity: 1

		.right
			flex: 1 1 0
			padding-left: 16px

			.title
				font-size: 20px
				cursor: pointer
			.author
				margin-top: 8px
				color: #888888
			.info
				margin-top: 16px
				color: #888888
</style>

<script type="text/javascript">
	import {zeroDB} from "@/zero";
	import {PING_INTERVAL} from "@/constants";
	import "vue-awesome/icons/search";
	import "vue-awesome/icons/flag";

	export default {
		name: "home",
		data() {
			return {
				query: "",
				results: []
			};
		},
		async mounted() {
			this.query = decodeURIComponent(
				this.$router.currentParams.query || ""
			);

			// Load the results
			const results = await zeroDB.query(`
				SELECT
					videos.*,
					json.cert_user_id AS cert_user_id,
					json.directory AS directory,
					(
						${Date.now()} - videos.ping < ${PING_INTERVAL * 3} AND
						${Date.now()} - videos.ping > -${PING_INTERVAL * 3}
					) AS live

				FROM videos
				LEFT JOIN json ON json.json_id = videos.json_id

				WHERE (
					videos.title LIKE "%${this.query.replace(/"/g, `""`)}%" AND
					live -- till we don't know how to handle dead streams
				)
			`);

			this.results = results.map(result => ({
				title: result.title,
				description: result.description,
				author: result.cert_user_id,
				authAddress: result.directory.replace("users/", ""),
				durationFormatted: "100500s",
				id: result.id,
				live: result.live,
				hub: result.hub
			}));
		},
		methods: {
			search() {
				this.$router.navigate(
					`search/${encodeURIComponent(this.query)}`
						.replace(/\/$/, "")
				);
			},
			report(result) {

			},
			watch(result) {
				this.$router.navigate(
					`watch/${result.hub}/${result.id}/${encodeURIComponent(result.title)}`
				);
			}
		}
	};
</script>